.blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;

  .single-blog {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 10px;
    max-width: 700px;
    text-align: left;
    .btn-post {
      display: flex;
      justify-content: space-between;
    }

    .title {
      font-size: 25px;
      margin-bottom: 20px;
      color: blue;
      font-weight: 600;
    }

    .content {
      font-size: 15px;
    }
    button {
      cursor: pointer;
    }
  }
  .loading-blog {
    margin: 20px auto;
  }
}
.icon-plus-post {
  margin-right: 5px;
}
