.blogs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .single-blog {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 10px;
    max-width: 400px;
    max-height: 300px;
    text-align: left;

    .title {
      font-size: 25px;
      margin-bottom: 10px;
      color: blue;
      font-weight: 600;
    }

    .content {
      font-size: 15px;
    }
    button {
      cursor: pointer;
    }
  }
}
