table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
h2 {
  color: blue;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  color: blue;
}

tr:nth-child(even) {
  // background-color: #333;
}
.covid-container {
  padding: 10px 20px;
}
