$color_1: white;
$color_2: #61dafb;
$font-family_1: arial, sans-serif;
$background-color_1: #282c34;
$background-color_2: transparent;

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  background: #282c34;
  color: $color_1;
  min-height: 100vh;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.App-header {
  background-color: $background-color_1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $color_1;
}
.App-link {
  color: $color_2;
}
table {
  font-family: $font-family_1;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
td {
  border: 1px solid #747171;
  text-align: left;
  padding: 8px;
}
th {
  border: 1px solid #747171;
  text-align: left;
  padding: 8px;
}
h3 {
  margin: 0 !important;
  padding: 10px 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  &:before {
    box-sizing: border-box;
  }
  &:after {
    box-sizing: border-box;
  }
}
img {
  display: block;
  max-width: 100%;
}
picture {
  display: block;
  max-width: 100%;
}
svg {
  display: block;
  max-width: 100%;
}
video {
  display: block;
  max-width: 100%;
}
input {
  background-color: $background-color_2;
  outline: none;
}
select {
  background-color: $background-color_2;
  outline: none;
}
textarea {
  background-color: $background-color_2;
  outline: none;
}
button {
  cursor: pointer;
  background-color: $background-color_2;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
